body{
    background-image:url('fashion4.jpg');  
}

a img{
    position: relative;
    
    left:2px;
    top:1px;
    height: 100px;
     width: 150px;
}


nav p {
    font-family: Comic Sans Ms;  
    color: red;
    position: relative;
    left: 0;
    bottom: 0;
    
}

nav{
    position: fixed;
    background-color: rgb(9, 60, 77); 
    height: 170px;
    width: 100%;
    margin:0;
    border:0;
    padding:0;
    display:block;
}

.nav.navbar-nav.ms-auto li a{
   color:brown;
   border: 5px solid gray;
   height: 80px;
   width: 160px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: large;
  padding-left: 15px;
  
}



    



.renua row{
    background-color: black;
    width: auto;
    color: orange;
}

.renua img{
    width: 250px;
    height: 250px;
    

}

.renua h3{
    text-align: center;
    color:bisques
}

.col-2{
    background-color: bisque;
    display: inline-block;
    
}

.emma-row{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    
}




<div class="col-2">
<h1>
WELCOME TO THE BEST FASHION DESIGNER ,WITH VERY AFFORDABLE AND WELL MADE NATIVES FOR DIFFRENET OCCATIONS 
</h1>
<p>WE DEAL ON DIFFRENET KIND OF CLOTHINGS FOR WOMEN <small>and a little of Men</small>,expirences of 10years from each worker is  been aquired<br>
WE HAVE DONE ALOT OF DESIGN FOR: </p>
<ul>
<li>PRE-WEDDING </li>
<li>WEDDING </li>
<li>PRIDE MAIDES</li>
<li>POLITICAL ENGAGEMENT</li>
<li>EXPENSIVE OUTINGS</li>
<li>CONVOCATIONS</li>
<li>BIRTHDAY WEARS</li>
<li>BERIALS</li>
<li>TRADITIONAL MARRIAGE</li>
</ul>
<em>and a lot more.......</em>
<br>
<strong>WE ARE VERY FAST ,<mark>RELIABLE AND ALWAYS ON TIME</mark></strong>
</div>